extends layout

block content
  .row
    .col-sm-12
      h3 Список кампаний
      table.table.table-striped
        thead.thead-dark
          tr
            th Название
            th Статус
            th Дата создания
            th Действия
        tbody
          if list && list.length
            each campaign in list
              tr
                td=campaign.name
                td=(campaign.active)?'Вкл':'Выкл'
                td=campaign.created
                td
                  a.btn.btn-warning(href='/'+campaign._id+'/') Редактировать
                  //|&nbsp;&nbsp;
                  //a.btn.btn-danger(href='') Delete
          else
            tr
              td(colspan=3) Кампании не найдены
      a.btn.btn-primary(href='/new/') Новая кампания
